# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!NCLGL/Meshes/*
!NCLGL/GLEW/lib/*
NCLGL/Graphics Coursework/GraphicsCoursework.opensdf
NCLGL/Graphics Coursework/GraphicsCoursework.sdf
NCLGL/Graphics Coursework/GraphicsCoursework.v12.suo
