# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.opendb
*.sdf
*.VC.db
*.lastbuildstate
*.tlog
*.v12.suo
*.opensdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!NCLGL/Meshes/*
!NCLGL/GLEW/lib/*
!NCLGL/SOIL/Release/*
!NCLGL/SOIL/Debug/*
!NCLGL/Graphics Coursework/Release/glew32.dll 
!NCLGL/Graphics Coursework/Debug/glew32.dll
